<div class="page-header">
  <!-- <button class="secondary" (click)="goBack()">Back</button> -->
  <button class="primary" *ngIf="isAdmin" (click)="navigateToAdd()">Add Products +</button>
</div>

<div class="product-list">
  <div class="product-card" *ngFor="let product of paginatedProducts">
    <img [src]="getLocalImage(product.imageurl)" alt="{{ product.name }}">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p class="price">₹{{ product.price }}</p>

    <div class="buttons">
      <button class="primary" *ngIf="!isAdmin" (click)="viewDetails(product.id)">View Details</button>
      <button class="secondary cart-btn" title="Add to Cart" *ngIf="!isAdmin" (click)="addToCart(product)">
        <img src="assets/images/grocery-store.png" alt="cart image" width="24" height="24">
      </button>
    
      <button class="secondary" *ngIf="isAdmin" (click)="navigateToUpdate(product.id)">Update</button>
      <button class="primary" *ngIf="isAdmin" (click)="deleteProduct(product.id)">Delete</button>
    </div>
    
  </div>
</div>

<app-pagination
  [totalPages]="totalPages"
  [currentPage]="currentPage"
  [itemsPerPage]="itemsPerPage"
  (pageSelect)="onPageSelect($event)"
  (pageSizeChange)="onPageSizeChange($event)">
</app-pagination>

